<%= render partial: 'shared/progressbar', locals: { bar_percent: 0, step: "Étape 1 de 3"}%>
<div class="row">
  <div class="span8 display-content">
    <h1>Inscription d'artiste</h1>

      <%= render partial: 'form', locals: { submit_text: 'Inscrivez-vous', url: users_path } %>
  </div>

  <div class="span4 display-content">
     <h2>Déjà inscrit?</h2>
     <p>Si vous êtes déjà inscrit, </br> <a href="/login">Connectez-vous</a>, s'il vous plait.
     </p>
  </div>
</div>

<div class="row">
  <div class="span6 display-content">
     This is a label
  </div>

  <div class="span6 display-content">
    <div class="progress">
     <div class="bar" style="width: 60%;"></div>
    </div>
  </div>

</div>