<%= render partial: 'shared/progressbar', locals: { bar_percent: 66, step: "Étape 2 de 3"}%>
<h1>Editez soumission pour <%= @submission.user.first_name + " " + @submission.user.last_name%></h1>
<%= render partial: 'form', locals: { submit_text: 'Enregistrer modifications'} %>