<div class="progress">
  <div class="bar" style="width: 33%;"></div>
</div>
<div class="progress-label">Étape 2 de 3</div>

<h1>Page soumission pour <%= @current_user.first_name + " " + @current_user.last_name%></h1>
<h2>Faire votre soumission de dossier:</h2>
<p>Glisser-déposer les documents appropriés dans les boites; en format .doc ou .pdf.</p>
<p>Toutes les documents sont requis sauf les Exigences spéciales.</p>

<%= render partial: 'form', locals: { submit_text: 'Déposez soumission'} %>