/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
  *= require bootstrap_and_overrides
 *= require images
 *= require sessions
 *= require submissions
 *= require users

 */
#site-description {
clear: right;
float: right;
font-size: 16px;
font-style: none;
margin: 8px 0 14px 0;
padding-top: 25px;
width: 275px;
}

#site-title {
float: left;
margin: 0 0 0 0;
width: 600px;
font-size: 0px;
line-height: 80px;
background-image: url("VVlogo1.jpg");
background-repeat: no-repeat;
text-indent: 68px;
}

.navbar-inverse .nav .VVmain {
margin-left: 250px
}

.table-profile {
width:600px;
}

.progress-label{
 width: 100px; }

.progress-label, .btn-right{
 display: inline;
 float: right;
}
.errorExplanation { color: #222;
          border: 2px solid red;
          padding: 1em;
          margin-bottom: 2em;
          background-color: #f6f6f6;
          font: bold smaller;}
.errorExplanation h2 {color: #b00;}
